/* ============================
    RESPONSIVE — Mobile First
    Breakpoints: 480px → 768px → 1024px
   ============================ */

/* ── 480px — Mobile grande ── */
@media (min-width: 480px) {
    .hero__name {
        font-size: 6.08rem;
    }

    .skills {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero__cta {
        flex-direction: row;
    }
}

/* ── 768px — Tablet ── */
@media (min-width: 768px) {
    .nav {
        height: 6rem; /* altura fija, nunca se expande */
        overflow: visible;
        flex-wrap: nowrap;
        padding: 1.8rem 4rem;
    }
    
    /* Ocultamos el botón hamburguesa en desktop */
    .nav__toggle {
        display: none;
    }

     /* Links en fila como antes */
    .nav__links {
        flex-direction: row;
        width: auto;
        gap: 3.2rem;
        padding: 0;
    }

    .nav__link {
        font-size: 1.4rem;
        padding: 0;
        border-bottom: none;
    }

    .nav__logo {
        font-size: 1.36rem;
    }

    .section {
        padding: 100px 24px 80px;
    }

    .section__title {
        font-size: 3.84rem;
        margin-bottom: 48px;
    }

    .hero {
        padding: 100px 24px 60px;
    }

    .hero__name {
        font-size: 7.68rem;
    }

    .hero__role {
        font-size: 1.8rem;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: start;
    }

    .skills {
        grid-template-columns: repeat(4, 1fr);
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
        align-items: start;
    }
}

/* ── 1024px — Desktop ── */
@media (min-width: 1024px) {
    .hero__name {
        font-size: 8.8rem;
    }

    .section__title {
        font-size: 4.48rem;
    }

    .skills {
        grid-template-columns: repeat(6, 1fr);
    }
}